    <footer class="page-footer teal lighten-2"">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Food Fight
        <!-- <p class="right">Contact Us | Instagram | GitHub</p> -->

        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- jQuery (required by Materialize) -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </body>
</html>
