    <footer id="footer" class="page-footer">
      <div class="footer-copyright">
        <div class="container1">© 2017 Food Fight</div>
        <div class="container2 right"><a href="https://github.com/ibrianfrancisco/dont-panic-project"><img class="github" src="../images/github.png"></a></div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </body>
</html>