<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="main-wrapper">
      <$ include nav $>
      <div id="form-wrap">
        <form action="/search", method="POST">
          <div class="input-field">
            <input id="main-search-inputs" name="term" placeholder="Italian, boba, babies" type="text">
          </div>
          <div class="input-field">
            <input id="main-search-inputs" name="location" placeholder="Irvine, CA" type="text" required>
          </div>
          <div class="input-field">
            <input type="hidden" name="radius" value="8000">
            <input type="hidden" name="price" value="1,2,3,4">
            <button type="submit"><i class="material-icons">search</i></button>
          </div>
        </form>
      </div>
    </div>
    <div id="secondary-wrapper">
      <h5>About the Developers</h5>
      <hr width="500">
      <br>
      <p>Brian Francisco, Carlie Clippinger, Chris Baird and Holly Nguyen are students at General Assembly's Web Development Immersive. March 2017 OC cohort. Made with ♥ in California.</p>
      <br>
      <p>© Team Gryffindor 2017</p>
    </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="javascripts/main.js"></script>
  </body>
</html>
