<$ include head $>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div id="main-wrapper">
      <$ include nav $>
      <div id="form-wrap">
        <form id="search" action="/search", method="POST">
          <div class="input-field">
            <input id="main-search-inputs" name="term" placeholder="Italian, boba, etc." type="text">
          </div>
          <div class="input-field">
            <input id="main-search-inputs" name="location" placeholder="zip, address, etc." type="text" required>
          </div>
          <div class="input-field">
            <input type="hidden" name="radius" value="8000">
            <input type="hidden" name="price" value="1,2,3,4">
            <button type="submit"><i class="material-icons">search</i></button>
          </div>
        </form>
      </div>
    </div>
    <div id="secondary-wrapper">
      <h5>About the Developers</h5>
      <hr width="500">
      <br>
      <p id="tester">Brian Francisco, Carlie Clippinger, Chris Baird and Holly Nguyen are students at General Assembly's Web Development Immersive. March 2017 OC cohort. Made with ♥ in California.</p>
      <br>
    </div>

<script src="javascripts/main.js"></script>
<$ include footer $>
