<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </head>
  <body>
    <a name="home"></a>
    <div id="main-wrapper">
    <div class="navbar-fixed">
      <nav id="main-nav">
        <div class="">
          <div class="brand-logo"><a href="#" id="project-name" class="brand-logo"><img class="logo" src="../images/logo.png"></a></div>
          <div class="brand-name">Food Fight!</div>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- <li><a href="">Home</a></li>
            <li><a href="">About</a></li> -->
            <$ if (user) { $>
              <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
            <$ } else { $>
              <li><a href="/auth/google"><img class="login" src="../images/login-google.png"></a></li>
            <$ } $>
          </ul>
        </div>
      </nav>
    </div>
      <div id="form-wrap">
        <form action="/", method="POST">
          <div class="input-field">
            <input name="term" type="text" placeholder="Italian, boba, babies" type="text">
          </div>
          <div class="input-field">
            <input name="location" type="text" placeholder="Irvine, CA" type="text">
          </div>
          <div class="input-field">
            <button type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div id="secondary-wrapper">
      <h5>About the Developers</h5>
      <hr width="500">
      <br>
      <p>Brian Francisco, Carlie Clippinger, Chris Baird and Holly Nguyen are students at General Assembly's Web Development Immersive. March 2017 OC cohort. Made with ♥ in California.</p>
      <br>
      <p>© Team Gryffindor 2017</p>
    </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="javascripts/main.js"></script>
  </body>
</html>
