<div class="navbar-fixed">
  <nav id="main-nav">
    <div class="">
      <div class="brand-logo"><a href="/" id="project-name" class="brand-logo"><img class="logo" src="../images/logo.png"></a></div>
      <div class="brand-name">Food Fight!</div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <$ if (user) { $>
          <li><a id="profile-logo" class='dropdown-button' href='#' data-activates='dropdown1'><img src="<$= user.profileImage $>"></a></li>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="/">Search</a></li>
          <li class="divider"></li>
          <li><a href="/users">Favorites</a></li>
          <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          <$ } else { $>
            <li><a href="/auth/google"><div class="sign-in">Sign In</div><img class="login" src="../images/google-icon.png"></a></li>
          <$ } $>
        </ul>
      </ul>
    </div>
  </nav>
</div>
