<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <$= jsonBussObj.businesses[0].id $>



<script>

var results = [
<$ jsonBussObj.businesses.forEach(function(biz) { $>
  {
    id: '<$= biz.id $>',
    name: '<$= biz.name $>'
  },
<$ }); $>

];





</script>
  </body>
<!-- jQuery (required by Materialize) -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Using Underscore for collection manipulation and client-side templatin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!-- JavaScript for Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<!-- <script src="javascripts/app.js"></script> -->
</html>
