<$ include head $>
  <link rel='stylesheet' href='/stylesheets/show.css'/>
  </head>
  <body>
  <$ include show-nav $>
  <br>
  <br>
  <div class="row">
    <div class="col s6">
      <div id="info-wrap">
        <div class="detail-wrap">
          <div id="b-name"><h4 class="business-name" id="biz-name"></h4></div>
          <img id="image" class="info-padding">
          <h5 class="business-info info-padding" id="biz-price"></h5>
          <h5 id="phone-number" class="info-padding"></h5>
          <br>
          <a target="_blank" id="url" class="info-padding"><img id="yelp_link" src="images/yelp_link_2.png"></a>
          <br>
          <br>
          <br>
          <button id="next-button" class="btn waves-effect waves-light btn-large mid-btn" onclick="nextBusiness(); resetFav();" type="submit" name="action">Next!
            <i class="material-icons right">forward</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div id="card-wrap" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img id="business-image">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <$ if (user) { $>
            <span id='fav'><a id='favorite'><i class="material-icons">favorite_outline</i></a></span>
          <$ } else { $>
            <span>Login to save!</span>
          <$ } $>
            <i class="material-icons right">room</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  //----- VARIABLES -----//
      var results = [
        <$ jsonBussObj.businesses.forEach(function(business) { $>
          {
            yelp_id: '<$= business.id $>',
            name: "<$- business.name $>",
            url: '<$= business.url $>',
            phone: '<$= business.phone $>',
            image_url: '<$= business.image_url $>',
            zip_code: '<$= business.location["zip_code"] $>',
            latitude: <$= business.coordinates["latitude"] $>,
            longitude: <$= business.coordinates["longitude"] $>,
            address1: '<$= business.location["address1"] $>',
            city: '<$= business.location["city"] $>',
            state: '<$= business.location["state"] $>',
            price: '<$= business.price $>',
            rating: <$= business.rating $>,
            country: '<$= business.location["country"] $>',
            review_count: <$= business.review_count $>
          },
        <$ }); $>
      ];
      var shuffled = shuffle(results);
      var myIndex = 1;
      var zip_code = shuffled[0]["zip_code"];
      var name = shuffled[0].name.split(' ').join('+');
      var direction_url = 'https://www.google.com/maps/dir/Current+Location/'+ name + '+' + zip_code;
      var map, marker, contentString;
      var next = 0;
      var a = document.getElementById('url');

      //----- Setting Elements in through JQuery ------//
      if (shuffled[0].image_url === '') {
        $('#business-image').css({"background-image": "url(/images/no-image.png)"});
      } else {
        $('#business-image').css({'background-image': 'url(' + shuffled[0].image_url + ')'});
      }
      $('#biz-name').html(shuffled[0].name);
      $('#modal-biz-name').html(shuffled[0].name);
      if (shuffled[0].phone === '') {
        $('#phone-number').html('<p>No Number Listed</p>');
      } else {
        $('#phone-number').html(shuffled[0].phone);
      }
      $('#biz-price').html(shuffled[0].price);
      reviewImage(0);
      $('#favorite').attr('biz-id', shuffled[0].yelp_id);
      a.href = shuffled[0].url;

      //----- FUNCTIONS -----//
      function resetFav() {
        $('#favorite').html('<i class="material-icons">favorite_outline</i>');
      }

      function shuffle(array) {
        var m = array.length, t, i;
        // While there remain elements to shuffle
        while (m) {
          // Pick a remaining element
          i = Math.floor(Math.random() * m--);
          // And swap it with the current element.
          t = array[m];
          array[m] = array[i];
          array[i] = t;
        }
        return array;
      }

      function nextBusiness() {
        next = myIndex++%shuffled.length;
        var zip_code = shuffled[next]["zip_code"];
        var name = shuffled[next].name.split(' ').join('+');
        var direction_url = 'https://www.google.com/maps/dir/Current+Location/'+ name + '+' + zip_code;
        $('#business-name').html(shuffled[next].name);
        $('#biz-name').html(shuffled[next].name);
        $('#modal-biz-name').html(shuffled[next].name);
        if (shuffled[next].phone === '') {
          $('#phone-number').html('No Number Listed');
        } else {
          $('#phone-number').html(shuffled[next].phone);
        }
        $('#biz-price').html(shuffled[next].price)
        reviewImage(next);
        $('#favorite').attr('biz-id', shuffled[next].yelp_id);
        a.href = shuffled[next].url;
        if (shuffled[next].image_url === '') return $('#business-image').css({"background-image": "url(/images/no-image.png)"});
        $('#business-image').css({'background-image': 'url(' + shuffled[next].image_url + ')'});
      };

      function reviewImage(idx) {
        var rating = shuffled[idx].rating;
          switch (rating) {
            case 0:
              return $('#image').attr('src', '../images/0-stars.png');
              break;
            case 1:
              return $('#image').attr('src', '../images/1-star.png');
              break;
            case 1.5:
              return $('#image').attr('src', '../images/1-and-half-stars.png');
              break;
            case 2:
              return $('#image').attr('src', '../images/2-stars.png');
              break;
            case 2.5:
              return $('#image').attr('src', '../images/2-and-half-stars.png');
              break;
            case 3:
              return $('#image').attr('src', '../images/3-stars.png');
              break;
            case 3.5:
              return $('#image').attr('src', '../images/3-and-half-stars.png');
              break;
            case 4:
              return $('#image').attr('src', '../images/4-stars.png');
              break;
            case 4.5:
              return $('#image').attr('src', '../images/4-and-half-stars.png');
              break;
            case 5:
              return $('#image').attr('src', '../images/5-stars.png');
              break;
            default:
              return $('#image').html('No reviews yet');
          }
      }

      function initMap() {
      }

      $(document).ready(function(){
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal-trigger').leanModal();
        });

      $(document).ready(function() {
          $('select').material_select();
        });

      $(document).ready(function(){
          $('.materialboxed').materialbox();
        });

      $('span.activator i').on('click', function(evt) {
        window.setTimeout(function() {
          map = new google.maps.Map(document.getElementById('map'), {
             center: {
              lat: shuffled[next]["latitude"],
              lng: shuffled[next]["longitude"]
            },
             zoom: 15
          });
          marker = new google.maps.Marker({
            position: {
              lat: shuffled[next]["latitude"],
              lng: shuffled[next]["longitude"]
            },
            map: map
          });
          contentString = '<div id="content">'+
                 '<div id="siteNotice">'+
                 '</div>'+
                 '<h6 id="firstHeading" class="firstHeading">'+shuffled[next].name+'</h6>'+
                 '<div id="bodyContent">'+
                 '<p>'+shuffled[next]["address1"]+', '+
                 ''+shuffled[next]["city"]+', '+
                 ''+shuffled[next]["state"]+' '+
                 ''+shuffled[next]["zip_code"]+'</p>'+
                 '<a target="_blank" href=' + direction_url + '>Directions</a>'+
                 '</div>'+
                 '</div>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }, 200);
      });

    </script>
    <script src="javascripts/favorite.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<$= process.env.GOOGLE_MAP_JS_KEY $>&q&callback=initMap" async defer></script>
<$ include footer $>
