<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/show.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </head>
  <body>
  <!-- NAVBAR -->
  <div class="">
    <$ include nav $>
    <div class="">
      <nav class="search-nav">
        <div class="input-field">
          <form class="show-search" action="/search" method="POST">
            <div class="inner-form-wrap">
            <input id="show-input" type="text" placeholder="Italian, boba, babies.." value="<$= term $>" name="term">
            <input id="show-input" type="text" placeholder="Zip, address, etc." value="<$= location $>" class="show" name="location" required>
            <span>Price</span>
            <span>
              <input name="group1" type="radio" id="test1" />
              <label id="price-label" name="price" value="1,2" for="test1">Cheap</label>
            </span>
            <span>
              <input name="group1" type="radio" id="test2" />
              <label id="price-label" name="price" value="3,4" for="test2">Fancy</label>
            </span>
            <div class="dist-sel">
              <select>
                <option value="">Distance</option>
                <option value="1">5 Miles</option>
                <option value="2">10 Miles</option>
                <option value="3">15 Miles</option>
              </select>
            </div>
            <div class="rating-sel">
              <select>
                <option value="">Rating</option>
                <option value="1">*</option>
                <option value="2">**</option>
                <option value="3">***</option>
                <option value="3">****</option>
                <option value="3">*****</option>
              </select>
            </div>
            <button id="show-search-submit" class="btn waves-effect waves-light" type="submit" name="action">Go
            </button>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <!-- BUSINESS INFO -->
  <div class="show-wrapper center-align">
    <div class="row center-align">
      <div id="about-pane" class="col s6">
        <h4 class="buisness-name" id="biz-name"></h4><h4 class="buisness-info">&nbsp|</h4>
        <h4 class="buisness-info" id="biz-price"></h4>&nbsp&nbsp<h4 class="buisness-info">|</h4>&nbsp&nbsp<img id="image"><br>
        <div class="image-container">
          <img class="materialboxed show-img"  id="business-image">
        </div>
        <!-- Modal content -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4 id="modal-biz-name"></h4>
            <a target="_blank" id="url">Website</a>
            <p id="phone-number"></p>
            <ul>
              <li>Hours:</li>
              <li>mon: 12-5</li>
              <li>tue: 12-5</li>
              <li>wed: 12-5</li>
              <li>thu: 12-5</li>
              <li>fri: 12-5</li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
        <!-- Modal content end -->
      </div>

      <!-- MAP INFO -->
      <h4 class="biz-map-name">Location</h4>
      <div class="col s6">
        <div id="map">
        </div>
      </div>
    </div>
    <div id="next-btn-col" class="col s12">
      <div class="next-btn-wrap">
        <a class="waves-effect waves-light btn-large modal-trigger mid-btn" href="#modal1">Show Info</a>
        <button class="btn waves-effect waves-light btn-large mid-btn" onclick="nextBusiness();" type="submit" name="action">Next!
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>

  <$ if (user) { $>
    <span id='fav'><button id="favorite" >Add to Favorites</button></span>
    <span><a href="/users/<$= user.id $>"><$= user.userName $></a></span>
  <$ } else { $>
    <span>Login to save!</span>
  <$ } $>

  <span></span>


  <div id="map"></div>





    <script type="text/javascript">
    //----- VARIABLES -----//

      var results = [
        <$ jsonBussObj.businesses.forEach(function(business) { $>
          {
            yelp_id: '<$= business.id $>',
            name: '<$= business.name $>',
            url: '<$= business.url $>',
            phone: '<$= business.phone $>',
            image_url: '<$= business.image_url $>',
            zip_code: '<$= business.location["zip_code"] $>',
            latitude: <$= business.coordinates["latitude"] $>,
            longitude: <$= business.coordinates["longitude"] $>,
            address1: '<$= business.location["address1"] $>',
            city: '<$= business.location["city"] $>',
            state: '<$= business.location["state"] $>',
            price: '<$= business.price $>',
            rating: <$= business.rating $>,
            country: '<$= business.location["country"] $>',
            review_count: <$= business.review_count $>
          },
        <$ }); $>
      ];
      var shuffled = shuffle(results);
      var myIndex = 1;
      var zip_code = shuffled[0]["zip_code"];
      var name = shuffled[0].name.split(' ').join('+');
      var direction_url = 'https://www.google.com/maps/dir/Current+Location/'+ name + '+' + zip_code;
      var map;
      var a = document.getElementById('url');

      //----- Writing Elements in through JQuery ------//
      $('#business-image').css({'background-image': 'url(' + shuffled[0].image_url + ')'});
      $('#biz-name').html(shuffled[0].name);
      $('#modal-biz-name').html(shuffled[0].name);
      $('#phone-number').html("Phone number: " + shuffled[0].phone);
      $('#biz-price').html(shuffled[0].price);
      reviewImage(0);
      $('#favorite').attr('biz-id', shuffled[0].yelp_id);
      a.href = shuffled[0].url;


      //----- FUNCTIONS -----//
      function shuffle(array) {
        var m = array.length, t, i;
        // While there remain elements to shuffle…
        while (m) {
          // Pick a remaining element…
          i = Math.floor(Math.random() * m--);
          // And swap it with the current element.
          t = array[m];
          array[m] = array[i];
          array[i] = t;
        }
        return array;
      }

      function nextBusiness() {
        var next = myIndex++%shuffled.length;
        var zip_code = shuffled[next]["zip_code"];
        var name = shuffled[next].name.split(' ').join('+');
        var direction_url = 'https://www.google.com/maps/dir/Current+Location/'+ name + '+' + zip_code;

        $('#business-name').html(shuffled[next].name);
        $('#business-image').css({'background-image': 'url(' + shuffled[next].image_url + ')'});
        $('#biz-name').html(shuffled[next].name);
        $('#modal-biz-name').html(shuffled[next].name);
        $('#phone-number').html("Phone number: " + shuffled[next].phone);
        $('#biz-price').html(shuffled[next].price)
        reviewImage(next);
        $('#favorite').attr('biz-id', shuffled[next].yelp_id);
        a.href = shuffled[next].url;
        map = new google.maps.Map(document.getElementById('map'), {
           center: {
            lat: shuffled[next]["latitude"],
            lng: shuffled[next]["longitude"]
          },
           zoom: 15
        });

        var marker = new google.maps.Marker({
          position: {
            lat: shuffled[next]["latitude"],
            lng: shuffled[next]["longitude"]
          },
          map: map
        });

        var contentString = '<div id="content">'+
               '<div id="siteNotice">'+
               '</div>'+
               '<h6 id="firstHeading" class="firstHeading">'+shuffled[next].name+'</h6>'+
               '<div id="bodyContent">'+
               '<p>'+shuffled[next]["address1"]+', '+
               ''+shuffled[next]["city"]+', '+
               ''+shuffled[next]["state"]+' '+
               ''+shuffled[next]["zip_code"]+'</p>'+
               '<a target="_blank" href=' + direction_url + '>Directions</a>'+
               '</div>'+
               '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      };

      function reviewImage(idx) {
        var rating = shuffled[idx].rating;
          switch (rating) {
            case 0:
              return $('#image').attr('src', '../images/0-stars.png');
              break;
            case 1:
              return $('#image').attr('src', '../images/1-stars.png');
              break;
            case 1.5:
              return $('#image').attr('src', '../images/1-and-half-stars.png');
              break;
            case 2:
              return $('#image').attr('src', '../images/2-stars.png');
              break;
            case 2.5:
              return $('#image').attr('src', '../images/2-and-half-stars.png');
              break;
            case 3:
              return $('#image').attr('src', '../images/3-stars.png');
              break;
            case 3.5:
              return $('#image').attr('src', '../images/3-and-half-stars.png');
              break;
            case 4:
              return $('#image').attr('src', '../images/4-stars.png');
              break;
            case 4.5:
              return $('#image').attr('src', '../images/4-and-half-stars.png');
              break;
            case 5:
              return $('#image').attr('src', '../images/5-stars.png');
              break;
            default:
              return $('#image').html('No reviews yet');
          }
      }

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
             center: {
              lat: shuffled[0]["latitude"],
              lng: shuffled[0]["longitude"]
            },
             zoom: 15
          });

          var marker = new google.maps.Marker({
            position: {
              lat: shuffled[0]["latitude"],
              lng: shuffled[0]["longitude"]
            },
            map: map
          });

          var contentString = '<div id="content">'+
                 '<div id="siteNotice">'+
                 '</div>'+
                 '<h6 id="firstHeading" class="firstHeading">'+shuffled[0].name+'</h6>'+
                 '<div id="bodyContent">'+
                 '<p>'+shuffled[0]["address1"]+', '+
                 ''+shuffled[0]["city"]+', '+
                 ''+shuffled[0]["state"]+' '+
                 ''+shuffled[0]["zip_code"]+'</p>'+
                 '<a target="_blank" href=' + direction_url + '>Directions</a>'+
                 '</div>'+
                 '</div>';

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        };

      $(document).ready(function(){
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal-trigger').leanModal();
        });

      $(document).ready(function() {
          $('select').material_select();
        });

      $(document).ready(function(){
          $('.materialboxed').materialbox();
        });
    </script>
    <!-- also find a way to continously going without having a limit, so far limit might be 20? not sure -->

    <!-- jQuery (required by Materialize) -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Using Underscore for collection manipulation and client-side templatin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/favorite.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<$= process.env.GOOGLE_MAP_JS_KEY $>&q&callback=initMap" async defer></script>
  </body>
</html>
