<$ include head $>
    <link rel='stylesheet' href='/stylesheets/user.css'/>
  </head>
  <body>
    <div id="main-wrapper">
      <$ include nav $>
    </div>
    <br>
    <div class="jumbotron">
      <div  class="center-align" ><img src="<$= user.profileImage $>"></div>
      <h4 class="center-align"><$= user.userName $></h4>
      <h5>My Favorites</h5>
    </div>
    <div class="container">
      <div class="row" id="cards">
        <$ if (user.favorites.length === 0) { $>
          <p>None, that's sad.</p>
        <$ } else { $>
          <$ user.favorites.forEach(function(fav) { $>
              <!-- <div class="col s12 m4"> -->
                <div class="card">
                  <div class="card-image">
                    <img src="<$= fav.image_url $>">
                    <a biz-id="<$= fav.id $>" class="unfavorite btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">clear</i></a>
                  </div>
                  <div class="card-content">
                    <h5><b><$- fav.name $></b></h5>
                    <p><$= fav.address1 $>,<br><$= fav.city $>, <$= fav.state $> <$= fav.zip_code $></p>
                    <p>Rating: <$= fav.rating $> stars</p>
                    <p><$= fav.price $></p>
                  </div>
                  <div class="card-action hoverable">
                    <a href="<$= fav.url $>" target="_blank">Yelp link</a>
                  </div>
                </div>
              <!-- </div> -->
          <$ }) $>
        <$ } $>
      </div>
    </div>
    <script src="/javascripts/unfavorite.js"></script>
<$ include footer $>
