<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/user.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="main-wrapper">
      <$ include nav $>
    </div>

    <h1>User Profile</h1>

    <h5>Favorites</h5>
    <div class="container">

      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://www.annholm.net/wp-content/uploads/2015/08/junk-food.jpg">
              <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
              <p>Business Name</p>
              <p>Business City</p>
            </div>
            <div class="card-action">
              <a href="#">Yelp link</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- <script src="javascripts/main.js"></script> -->
  </body>
</html>