@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.login {
  width: 190px;
}

.logo {
  width: 100px;
  padding-left: 20px;
}

nav {
  padding-top: 5px;
  background-color: transparent;
  box-shadow: none;
}

nav .brand-name {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
  padding-left: 110px;
  padding-top: 5px;
}

nav ul a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-right: 20px;
}