/*show start*/
body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.show-nav {
  padding-bottom: 75px !important;
  border-bottom: 1px solid black;
}

.show-img {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 2px solid black;
}

#yelp_link {
  height: 80px;
}

#b-name {
  width: 400px;
  height: 100px;
  margin: auto;
}

#show-input {
  width: 200px;
  padding-left: 10px;
  background-color: white;
  border: 2px solid black;
  color: black;
}

.show-wrapper {
  margin-top: 50px;
}
.buisness-info {
  display: inline;
}
.buisness-name {
  display: inline;
}
.mid-btn {
  margin: 10px;
  width: 200px;
}

#next-btn-col {
  position: relative;
}
.show-search {
  /*background-color: rgba(0,0,0,.5);*/
  width: 1000px;
  padding-bottom: 20px;
  margin: 0 auto;
}

/*.dist-sel {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  background-color: black;
  border-radius: 6px;
}

.rating-sel {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  background-color: black;
  border-radius: 6px;
}*/

#price-label {
  padding-left: 24px;
}

#show-search-submit {
  display: inline-block;
  margin-right: 5px;
}

#business-image {
  position: relative;
  /*float: left;*/
  width: 500px;
  height: 500px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 10px auto;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.search-nav {
  margin-top: 2%;
}

.biz-map-name {
  margin: 0;
  padding: 0;
}

#image {
  height: 30px;
  width: 141px;
}

#yelp_img {
  height: 70px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border: 2px solid black;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
/*  background-image: url(/assets/images/show-bg.png);*/
  background-size: cover;
}
/* Testing css*/
#card-wrap {
  width: 500px;
  margin: 0 auto;
}

#info-wrap {
  width: 100%;
  margin: 0 auto;
  height: 730px;
}

button {
  height: 40px;
  width: 50px;
  border-radius: 6px;
  border: white;
  padding: 0;
  background-color: black;
}

nav {
  padding: 0;
  background-color: white;
  box-shadow: none;
}

nav .brand-name {
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px white;
  display: inline-block;
  padding-left: 110px;
  padding-top: 5px;
  padding-right: 90px;
}

nav ul a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-right: 20px;
  height: 50px;
}

nav ul li a#profile-logo {
  height: 0;
}

.logo {
  width: 90px;
  padding-left: 20px;
}

.nav-show {
  border-bottom: 2px solid black;
}

.detail-wrap {
  text-align: center;
  padding-top: 17%;
}

#next-button {
/*  position: absolute;*/
  bottom: 5%;
  /*right: 30%;*/
  background-color: black;
}

.info-padding {
  margin-top: 10px;
}

nav .input-field input {
  font-size: 23px;
}

form {
  display: inline;
}

.input-field {
  display: inline;
}

.input-field.term {
  padding-left: 10px;
}

.select-wrapper input.select-dropdown {
  border-bottom: none;
}

.select-wrapper span.caret {
  color: transparent;
}

div.form {
  display: inline-block;
}

i.material-icons.search {
  line-height: 0;
  height: 0;
}

.btn {
  vertical-align: inherit;
}

.dist-sel {
  width: 100px;
  display: inline-block;
  margin-left: 30px;
  color: black;
}

.rating-sel {
  width: 100px;
  display: inline-block;
  margin-left: 30px;
  color: black;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

