@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.login {
  width: 190px;
}

.logo {
  width: 100px;
  padding-left: 20px;
}

nav {
  padding-top: 5px;
  background-color: transparent;
  box-shadow: none;
}

nav .brand-name {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
  padding-left: 110px;
  padding-top: 5px;
}

nav ul a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-right: 20px;
}

#main-wrapper {
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 9990;
  opacity: .8;
}

#secondary-wrapper {
  width: 100%;
  height: 300px;
  text-align: center;
}

h5 {
  padding-top: 20px;
}

p {
  width: 500px;
  margin: auto;
}

input[type=text] {
  border-bottom: none;
  width: 300px;
  padding-top: 10px;
  padding-left: 7px;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

button {
  height: 50px;
  border-radius: 6px;
  padding: 0;
}

#form-wrap {
  margin: 0 auto;
  background-color: white;
  width: 600px;
  height: 50px;
  position: relative;
  top: 40%;
  border-radius: 6px;
  white-space: nowrap;
}

div.input-field {
  display: inline-block;
  margin: 0;
}

::-webkit-input-placeholder {
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

:-ms-input-placeholder {
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

/* Index end*/
/*show start*/
.show-img {
  height: 450px;
  width: 450px;
}

.show-wrapper {
  margin-top: 50px;
}

.buisness-info {
  display: inline;
}

.buisness-name {
  display: inline;
}


.mid-btn {
  margin: 10px;
  width: 200px;
}

#next-btn-col {
  position: relative;
}

.show-search {
  width: 600px;
  display: inline-block;

}

.image-container {
  width: 450px;
  height: 450px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  width: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
