@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#main-wrapper {
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9990;
  opacity: .8;
}

#form-wrap {
  margin: 0 auto;
  background-color: white;
  width: 600px;
  height: 50px;
  position: relative;
  top: 40%;
  border-radius: 6px;
  white-space: nowrap;
}

form:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 2.5em;
  margin: 5px 0;
  border-left: 1px solid #bdbdbd;
}

input[type=text] {
  border-bottom: none;
  width: 300px;
  padding-top: 10px;
  padding-left: 7px;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

div.input-field {
  display: inline-block;
  margin: 0;
}

input-placeholder {
  color: #bdbdbd;
  font-size: 20px;
  padding-left: 5px;
}

#main-search-inputs {
  margin-bottom: 0;
  padding-top: 0;
  font-size: 20px;
  width: 294px;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  border: white;
  padding: 0;
  background-color: black;
}

i.material-icons {
  color: white;
}

#secondary-wrapper {
  width: 100%;
  height: 230px;
  text-align: center;
}

h5 {
  padding-top: 20px;
}

p {
  width: 500px;
  margin: auto;
}
