@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.login {
  width: 190px;
}

#about-header {
  padding-top: 50px;
}

#about-hr {
  width: 500px;
}

#sign-in-hr {
  width: 600px;
}

#main-nav {
  background-color: rgba(225,152,0,.0);
  box-shadow: none;
}

.logo {
  width: 100px;
  padding-left: 20px;
}

/*nav .brand-logo {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  display: inline-block;
}*/

nav {
  padding-top: 5px;
}

nav .brand-name {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
  padding-left: 110px;
}

nav ul a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-right: 20px;
}

#main-wrapper {
  width: 100%;
  height: 600px;
  /*position: fixed;*/
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 9990;
  opacity: .8;
}

#secondary-wrapper {
  width: 100%;
  height: 700px;
}

/* #search-wrapper {
  width: 600px;
  height: 200px;
  background-color: rgba(225,225,225,.8);
  margin: 0 auto;
  position: relative;
  top: 30%;
  border-radius: 10px;
} */

/*#main-form-wrapper {
  height: 100px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 25%;
}*/

input[type=text] {
  border-bottom: none;
}

.input-field {
  width: 300px;
}

#searchfor-label {
  color: black;
}

#form-wrap {
  margin: 0 auto;
  background-color: white;
  width: 800px;
  height: 60px;
  position: relative;
  top: 40%;
  border-radius: 6px;
  white-space: nowrap;

}

div.input-field {
  display: inline-block;
  width: 50%;
}

/* #input-field {
  margin: 0 auto;
  position: relative;
} */

/*#project-name {
  margin-left: 20px;
}*/

/*#searchfor-label{
  font-size: 20px;
}*/

/*.main-search-submit {
  margin-top: 5px;
}*/

/*.search-wrapper {
  height: 100px;
  width: 400px;
  background-color: #f44336;
}*/

/*.about-img {
  height: 300px;
  width: 300px;
}*/

/*Testing*/
::-webkit-input-placeholder {
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

:-ms-input-placeholder {
   color: #bdbdbd;
   font-size: 20px;
   padding-left: 5px;
}

/* Index end*/
/*show start*/
.show-img {
  height: 450px;
  width: 450px;
/*  background-size: cover;
  background-repeat: no-repeat;*/
}

.show-wrapper {
  margin-top: 50px;
}

.buisness-info {
  display: inline;
}

.buisness-name {
  display: inline;
}


.mid-btn {
  margin: 10px;
  width: 200px;
}

#next-btn-col {
  position: relative;
}

.show-search {
  width: 300px;
  display: inline-block;

}

.image-container {
  width: 450px;
  height: 450px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  width: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
