@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
}

.card {
  border-radius: 6px;
}

.jumbotron {
  background-color: #e0e0e0;
  padding: 15px;
}
