@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
/*  display: flex;
  min-height: 100vh;
  flex-direction: column;*/
}

main {
/*  flex: 1 0 auto;*/
}

.card {
  border-radius: 6px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 0 1em;
  width: 300px;
  padding: 5px;
}

.container {
  column-count: 4;
  column-gap: 0;
  margin: auto;
  padding-left: 20px;
  width: 100%;
}

.jumbotron {
  background-color: #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
}

h5 {
  text-align: center;
}

.logo {
  width: 90px;
  padding-left: 20px;
}

